* {
    font-family: "Trebuchet MS";
  }
h1 {
    text-transform: uppercase;
    color: salmon;
}
table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  margin: 10px auto 10px auto;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    
}
.btn {
      background-color: salmon;
      color: #fff;
      padding: 10px;
      text-decoration: none;
      font-size: 12px;
}
.btn-delete {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.btn-edit {
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
}

.btn:hover, .btn-delete:hover, .btn-edit:hover {
    opacity: 0.8;
}



header{
    position: flex;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
    background-color:mediumseagreen;
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    color:black;
}

.navbar{
    display: flex;
}

.navbar a{
    color: oldlace;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    text-decoration: none;
}

.navbar a:hover{
    color: #000000;
}

.heading{
    color: olive;
    text-align: center;
}