body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    position: flex;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
    background-color:mediumseagreen;
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 1px;
    color:black;
}

.navbar{
    display: flex;
}

.navbar a{
    color: oldlace;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    text-decoration: none;
}

.navbar a:hover{
    color: #000000;
}

.heading{
    color: olive;
    text-align: center;
}
/* styling tabel */
.table{
    border-collapse: collapse;
    font-size: 10px;
    border: 1px solid black;
    width: 90%;
    margin: 20px auto;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 10px;
}
td{
    padding: 3px;
    height: 20px;
    background: rgb(213, 230, 210);
    font-size: 10px;
}
th{
    background-color: aquamarine;
    color: black;
    height: 30px;
    padding: 20px;
    font-size: 10px;
}

/* styling btn */
.btn, .btn-delete, .btn-edit {
    display: inline-block;
    padding: 8px 15px;
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    background-color: burlywood;
    color: black;
    border-radius: 10px;
}

.btn-delete {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}

.btn-edit {
    background-color: #008CBA;
    color: white;
    border-radius: 5px;
}

.btn:hover, .btn-delete:hover, .btn-edit:hover {
    opacity: 0.8;
}
